[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
psycopg2-binary = "*"
gunicorn = "*"
python-dotenv = "*"
authlib = "*"
requests = "*"
postgres = "*"
boto3 = "*"
flask-apscheduler = "*"
urllib3 = "==1.26.6"
openai = "*"
pandas = "*"
numpy = "*"
scikit-surprise = "*"
tensorflow = "*"
scikit-learn = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.9"
