-i https://pypi.org/simple
absl-py==2.1.0; python_version >= '3.7'
annotated-types==0.6.0; python_version >= '3.8'
anyio==4.3.0; python_version >= '3.8'
apscheduler==3.10.4; python_version >= '3.6'
astunparse==1.6.3
authlib==1.3.0; python_version >= '3.8'
blinker==1.7.0; python_version >= '3.8'
boto3==1.34.51; python_version >= '3.8'
botocore==1.34.51; python_version >= '3.8'
cachetools==5.3.3; python_version >= '3.7'
certifi==2024.2.2; python_version >= '3.6'
cffi==1.16.0; platform_python_implementation != 'PyPy'
charset-normalizer==3.3.2; python_full_version >= '3.7.0'
click==8.1.7; python_version >= '3.7'
cryptography==42.0.5; python_version >= '3.7'
distro==1.9.0; python_version >= '3.6'
exceptiongroup==1.2.0; python_version < '3.11'
flask==3.0.2; python_version >= '3.8'
flask-apscheduler==1.13.1; python_version >= '3.8'
flatbuffers==23.5.26
gast==0.5.4; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
google-auth==2.28.1; python_version >= '3.7'
google-auth-oauthlib==1.2.0; python_version >= '3.6'
google-pasta==0.2.0
grpcio==1.62.0; python_version >= '3.7'
gunicorn==21.2.0; python_version >= '3.5'
h11==0.14.0; python_version >= '3.7'
h5py==3.10.0; python_version >= '3.8'
httpcore==1.0.4; python_version >= '3.8'
httpx==0.27.0; python_version >= '3.8'
idna==3.6; python_version >= '3.5'
importlib-metadata==7.0.1; python_version < '3.10'
itsdangerous==2.1.2; python_version >= '3.7'
jinja2==3.1.3; python_version >= '3.7'
jmespath==1.0.1; python_version >= '3.7'
joblib==1.3.2; python_version >= '3.7'
keras==2.15.0; python_version >= '3.8'
libclang==16.0.6
markdown==3.5.2; python_version >= '3.8'
markupsafe==2.1.5; python_version >= '3.7'
ml-dtypes==0.2.0; python_version >= '3.7'
numpy==1.26.4; python_version >= '3.9'
oauthlib==3.2.2; python_version >= '3.6'
openai==1.12.0; python_full_version >= '3.7.1'
opt-einsum==3.3.0; python_version >= '3.5'
packaging==23.2; python_version >= '3.7'
pandas==2.2.1; python_version >= '3.9'
pillow==10.2.0; python_version >= '3.8'
postgres==4.0
protobuf==4.25.3; python_version >= '3.8'
psycopg2-binary==2.9.9; python_version >= '3.7'
psycopg2-pool==1.2; python_version >= '3.3'
pyasn1==0.5.1; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5'
pyasn1-modules==0.3.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5'
pycparser==2.21
pydantic==2.6.3; python_version >= '3.8'
pydantic-core==2.16.3; python_version >= '3.8'
python-dateutil==2.8.2; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2'
python-dotenv==1.0.1; python_version >= '3.8'
pytz==2024.1
requests==2.31.0; python_version >= '3.7'
requests-oauthlib==1.3.1; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
rsa==4.9; python_version >= '3.6' and python_version < '4'
s3transfer==0.10.0; python_version >= '3.8'
scikit-learn==1.4.1.post1; python_version >= '3.9'
scikit-surprise==1.1.3; python_version >= '3.8'
scipy==1.12.0; python_version >= '3.9'
setuptools==69.1.1; python_version >= '3.8'
six==1.16.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2'
sniffio==1.3.1; python_version >= '3.7'
tensorboard==2.15.2; python_version >= '3.9'
tensorboard-data-server==0.7.2; python_version >= '3.7'
tensorflow==2.15.0; python_version >= '3.9'
tensorflow-estimator==2.15.0; python_version >= '3.7'
tensorflow-io-gcs-filesystem==0.36.0; python_version < '3.12' and python_version >= '3.7'
termcolor==2.4.0; python_version >= '3.8'
threadpoolctl==3.3.0; python_version >= '3.8'
tqdm==4.66.2; python_version >= '3.7'
typing-extensions==4.10.0; python_version >= '3.8'
tzdata==2024.1; python_version >= '2'
tzlocal==5.2; python_version >= '3.8'
urllib3==1.26.6; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4' and python_version < '4'
werkzeug==3.0.1; python_version >= '3.8'
wheel==0.42.0; python_version >= '3.7'
wrapt==1.14.1; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
zipp==3.17.0; python_version >= '3.8'
