.scrollable-row {
    overflow-x: auto;
    white-space: nowrap;
}
.scrollable-row:first-of-type {
    margin-top: 70px; /* Adjust based on actual header height plus desired spacing */
}
.floating-button {
    position: fixed;
    bottom: 20px;
    right: 20px; /* Positioned to the bottom-right corner */
    background-color: #007bff; /* Example color: Blue */
    color: white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px; /* Centers the '+' vertically */
    font-size: 30px; /* Size of the '+' */
    cursor: pointer;
    z-index: 1000; /* Ensures it's above other items */
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25); /* Optional: Adds a shadow for better visibility */
}
.floating-button:hover,
.floating-button:focus {
    background-color: #0056b3; /* Darker shade of button color on hover/focus */
}

.floating-button:active {
    background-color: #00376b; /* Even darker shade of button color on active/click */
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content {
    background-color: #fefefe;
    margin: 10% auto; /* 10% from the top and centered */
    padding: 10px;
    width: 50%; /* Full width */
    height: 55%; /* Full height */
    border: 1px solid #888;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.left-side{
    width: 45%;
    float: left;
    display: flex;
    flex-direction: column;
    gap: 5px; /* Spacing between inputs */
}

.right-side {
    width: 45%;
    float: right;
    display: flex;
    flex-direction: column;
    gap: 5px; /* Spacing between inputs */
}

#description {
    height: 100px;
    width: 100%; /* Full width of its container */
    box-sizing: border-box; /* Include padding and border in the width */
    white-space: pre-wrap;
    word-break: break-all;
}

.museum-link {
    border: #808080;

    background: none;
    padding: 0;
    font-size: 2em; /* Adjust font size as needed */
    font-weight: bold; /* Adjust font weight as needed */
    color: #000000; /* Inherit text color */
    text-align: left; /* Adjust text alignment as needed */
}
.museum-link button:hover {
    background-color: #525151; /* Change background color on hover */
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    box-sizing: border-box;
    border-bottom: 1px solid #ccc;
    z-index: 1000;
}
.footer {
    width: 100%;
    padding: 10px 0;
    background-color: #333;
    color: #fff;
    text-align: center;
    position: relative; /* Ensures footer is at the bottom */
    bottom: 0;
    left: 0;
}
.login {
    cursor: pointer;
    color: #fff; /* White text */
    background-color: #808080; /* Grey background */
    padding: 10px 15px; /* Adds padding around the text */
    border-radius: 20px; /* Rounded corners */
    text-decoration: none;
    display: inline-block; /* Allows padding and background to be applied */
    margin-left: 20px; /* Adds space to the left of the login block */
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Creates a responsive grid */
    gap: 20px; /* Space between grid items */
    padding: 20px; /* Padding around the grid */
    padding-top: 50px;
}
.grid-item {
    background-color: #ddd; /* Placeholder for images, replace or remove with actual images */
    position: relative;
    flex-direction: column; /* Stack children vertically */
    border-radius: 10px; /* Adds rounded corners */
    display: flex;
    width: 100%; 
    height: auto;
}

.image-name {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
    text-align: center;
    padding: 5px 0; /* Padding above and below the text */
    overflow: hidden; /* Ensures that the text doesn't spill out of the container */
}

.sliding-text {
    white-space: nowrap; /* Prevents the text from wrapping to a new line */
    display: inline-block;
    animation: slide 10s infinite linear; /* Adjust the duration (10s) as needed */
    padding-left: 0%;
}

@keyframes slide {
    0% { transform: translateX(50%); }
    100% { transform: translateX(-50%); } /* Slide to the left */
}

.search-container {
    width: 75%;
    text-align: center;
    position: relative;
}
.search-bar {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc; 
    border-radius: 20px; 
    background-color: #808080;
    color: #fff; 
    font-size: 16px;
}
.search-history {
    width: 100%;
    padding: 10px;
    border-radius: 20px; 
    display: none; /* Hidden by default */
    background-color: #808080; /* Matching the search bar's background color */
    color: #fff; /* Matching the search bar's text color */
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    overflow: hidden; /* Ensures the rounded corners contain the child elements */
}
.search-history a {
    padding: 10px 10px; /* Matching the search bar's padding */
    text-decoration: none;
    display: block;
    color: #fff; /* Ensure the text color matches the search bar */
}

.search-history a:hover {
    background-color: #666; /* Slightly darker shade for hover effect */
}



.art-item {
    display: flex; /* Aligns the image container and art info side by side */
}

.image-container {
    position: relative; /* For the absolute positioning of the heart icon */
    flex-basis: 50%; /* Adjust based on your design preferences */
    padding-right: 20px; /* Adds space to the right of the image */
}


.heart-box {
    display: inline-block;
    padding: 5px;
    border: 1px solid #ccc; /* Box border */
    border-radius: 5px; /* Optional: for rounded corners */
    cursor: pointer;
    position: absolute;
    top: 10px; /* Adjust as needed */
    left: 10px; /* Adjust as needed */
    z-index: 10; /* Ensures the icon is above the image */
    user-select: none; /* Disables text selection */
    background-color: rgba(255, 255, 255, 0.7); /* Semi-transparent white background */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Soft shadow for depth */
}

.heart-icon {
    font-size: 24px; /* Adjust based on your design preferences */
    user-select: none; /* Disables text selection */
}

.unliked {
    color: #ccc; /* Light color for unliked state */
}

.liked {
    color: #ff0000; /* Red color for liked state */
}

.art-image {
    width: 100%; /* Makes the image responsive */
    height: auto; /* Maintains the aspect ratio of the image */
    border-radius: 15px; /* If you want rounded corners for the image */
}

.art-info {
    flex-basis: 50%; /* Adjust based on your design preferences */
    /* Add padding or margins as needed for spacing */
}



.art-container {
    flex-direction: column;
    justify-content: center; /* Vertically centers the content */
    align-items: center; /* Horizontally centers the content */
    min-height: 50vh; /* Ensures the container takes at least the full height of the viewport */
    width: 80%; /* Adjust the width as needed */
    margin: auto; /* Centers the container in the viewport */
    background-color: #f0f0f0; /* Your desired background color */
    border-radius: 50px; /* Adjust this value to control the roundness of the corners */
    padding: 20px; /* Adds some padding inside the container */
    box-sizing: border-box; /* Ensures padding and border are included in the width and height */
}


.art-image-in-grid {
    width: 100%; /* Makes the container take the full width of its parent, maintaining the grid layout */
    height: 0; /* Initially sets the height to 0 */
    padding-top: 100%; /* This effectively sets the height equal to the width, creating a square */
    position: relative; /* Establishes a positioning context for the absolute positioned image inside */
    border-radius: 10px; /* Adds rounded corners to the container */
    overflow: hidden; /* Ensures any part of the image outside the square is hidden */
}

.art-image-in-grid img {
    position: absolute; /* Takes the image out of the document flow and positions it relative to its parent */
    top: 0;
    left: 0;
    width: 100%; /* Makes the image cover the full width of the container */
    height: 100%; /* Makes the image cover the full height of the container */
    object-fit: cover; /* Ensures the image covers the container, maintaining aspect ratio, but might be cropped */
}

.art-title {
    flex: 1; /* Allows the title to take up the remaining space */
    margin-left: 20px; /* Adds some space between the image and the title */
    font-size: 24px; /* Adjusts the title size */
}
.user-icon {
    display: inline-block;
    width: 30px; /* Circle size */
    height: 30px; /* Circle size */
    border-radius: 50%; /* Makes the div a circle */
    background-color: #444; /* Circle color, change as needed */
    margin-left: 10px; /* Space between the login text and the circle */
    vertical-align: middle; /* Aligns with the text if necessary */
    cursor: pointer; /* Changes the cursor to indicate it's clickable */
}

.user-icon:hover {
    background-color: #666; /* Darker shade on hover */
}

.comments-section {
    margin-top: 20px; /* Adds space between the art description and the comments section */
}

.comment-input, .comment-submit {
    padding: 10px;
    margin-top: 5px; /* Adds space above the input field */
    border-radius: 15px; /* Adds rounded corners */
}

.comment-input {
    width: 70%; /* Adjusts the width of the text input */
    margin-right: 5px; /* Adds space between the input field and the submit button */
}

.comment-submit {
    width: 20%; /* Adjusts the width of the submit button */
    cursor: pointer; /* Changes cursor to pointer when hovering over the button */
}

.comments-list-container {
    max-height: 300px; /* Adjust based on your desired fixed height */
    min-height: 100px;
    overflow-y: auto; /* Adds a vertical scrollbar when content exceeds max-height */
    margin-top: 20px; /* Space between the comment input form and the list of comments */
    padding-right: 5px; /* Prevents the scrollbar from overlapping content */
    border-radius: 10px; /* Optional: Adds rounded corners to the comments container */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional: Adds subtle shadow for depth */
}

.comments-list {
    list-style: none; /* Removes default list styling */
    padding: 0; /* Removes default padding */
}

.comment {
    padding: 10px;
    margin-bottom: 10px; /* Adds space between comments */
    background-color: #f9f9f9; /* Light background for each comment */
    border-radius: 5px; /* Rounded corners for each comment */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); /* Optional: Adds subtle shadow for each comment */
}

.upload-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.upload-left-side {
    width: 45%;
}

.upload-box {
    width: 100%;
    height: 300px; /* Adjust based on your preference */
    border-radius: 15px; /* Rounded corners */
    border: 2px dashed #aaa; /* Dashed border */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.upload-right-side {
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 10px; /* Spacing between inputs */
}

.upload-bottom {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Adjust based on your preference */
}

input[type="text"], textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

/* below is css of user_profile.html */
:root {
    --background-color: #f7f7f7;
    --text-color: #333;
    --light-grey: #eee;
    --box-shadow-color: rgba(0, 0, 0, 0.1);
    --border-radius: 10px;
    --primary-font: 'Helvetica Neue', Arial, sans-serif; /* Modern font */
}

body {
    padding-top: 50px;
    background: var(--background-color);
    margin: 0;
    font-family: var(--primary-font);
    color: var(--text-color);
}

.profile-container {
    max-width: 800px;
    margin: 3rem auto;
    align-items: center;
    padding: 1rem;
    background-color: #fff;
    border-radius: var(--border-radius);
    box-shadow: 0 2px 10px var(--box-shadow-color);
}

.user-info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 4rem;
    margin-top: 2rem;
    margin-left: 4rem;
    flex-wrap: wrap;
}

.profile-picture {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    object-fit: cover; /* To ensure the image covers the area properly */
    border: 2px solid #eee;
}

.user-details {
    text-align: center;
    position: relative;
    margin-right: 20px;
}

.user-details h1{
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 5px;
}

.user-details p {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 10px;
}

#userDescription {
    margin-top: 20px;
}

.stats {
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
    color: #333;
    background: var(--light-grey);
    padding: 0.5rem;
    border-radius: var(--border-radius);
    margin-bottom: 1.5rem;
    margin-top: 2rem;
    margin-right: 2rem;
    margin-left: 2rem;
}

.stats div {
    margin: 0 1rem;
}

.user-works {
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
}

.works-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.work-item {
    background-color: #ddd;
    position: relative;
    width: 180px;
    flex-direction: column;
    border-radius: 10px; /* Adds rounded corners */
    display: flex;
}

.work-item img {
    width: 100%;
    height: auto;
}

.edit-button {
    margin-top: 30px;
    position: relative;
    right: 10px; /* Adjusted for closer placement */
    top: 50%; /* Center vertically relative to the parent */
    transform: translateY(-50%); /* Keep button vertically centered */
    padding: 5px 10px;
    background-color: grey;
    color: white;
    border: none;
    border-radius: 5px; /* Adjusted for a smaller button */
    cursor: pointer;
    outline: none;
}

.fans-counter {
    background-color: transparent;
    border: none;
    color: var(--text-color);
    cursor: pointer;
    font-size: 16px;
    padding: 0;
    margin: 0;
}

/* Hover and Focus Styles */
.fans-counter:hover, .fans-counter:focus, button:hover, button:focus {
    outline: none;
    background-color: #ddd;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .user-info {
        flex-direction: column;
        text-align: center;
    }

    .profile-picture {
        margin: 0 auto 1rem;
    }

    .stats, .user-works {
        padding: 0.5rem;
    }

    .works-list {
        justify-content: space-between;
    }
}

/* Accessibility Enhancements */
a:focus, button:focus {
    outline: 3px solid #333;
    outline-offset: 2px;
}