.floating-button {
    position: fixed;
    bottom: 20px;
    right: 20px; /* Positioned to the bottom-right corner */
    background-color: #007bff; /* Example color: Blue */
    color: white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px; /* Centers the '+' vertically */
    font-size: 30px; /* Size of the '+' */
    cursor: pointer;
    z-index: 1000; /* Ensures it's above other items */
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25); /* Optional: Adds a shadow for better visibility */
}
.floating-button:hover,
.floating-button:focus {
    background-color: #0056b3; /* Darker shade of button color on hover/focus */
}

.floating-button:active {
    background-color: #00376b; /* Even darker shade of button color on active/click */
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content {
    background-color: #fefefe;
    margin: 10% auto; /* 10% from the top and centered */
    padding: 20px;
    width: 25%; /* Full width */
    height: 20%; /* Full height */
    border: 1px solid #888;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}

.left-side, .right-side {
    width: 50%;
    float: left;
}

#description {
    height: 100px;
    width: 100%; /* Full width of its container */
    box-sizing: border-box; /* Include padding and border in the width */
    white-space: pre-wrap;
    word-break: break-all;
}

.museum-link {
    border: #808080;

    background: none;
    padding: 0;
    font-size: 2em; /* Adjust font size as needed */
    font-weight: bold; /* Adjust font weight as needed */
    color: #000000; /* Inherit text color */
    text-align: left; /* Adjust text alignment as needed */
}
.museum-link button:hover {
    background-color: #525151; /* Change background color on hover */
}