{%extends 'base.html' %}

{%block content%}
<div class="art-container" id="gridContainer">
    <div class="art-item">
        <div class="image-container">
            <div class="heart-box">
                <div class="heart-icon unliked" onclick="toggleHeart(this)">♥</div>
            </div>
            <img src="{{ image_details[3] }}" alt="{{ image_details[1] }}" class="art-image">
        </div>
        <div class="art-info">
            <div class="art-title">{{ image_details[1] }}</div>
            <p class="art-description">{{ image_details[2] }}</p>
            <p class="art-description">{{ image_details[4] }}</p>
            <a href="/users/{{image_details[5]}}">
                <p class="art-description">Author: {{ image_details[5] }}</p>
            </a>
            <div class="comments-section">
                {% if session %}
                <form action = "{{url_for('comments')}}" method="POST" id="commentForm" enctype="multipart/form-data">
                    <input type="hidden" name="image_id" value="{{ image_details[0] }}">
                    <input type="text" id="comment" name="comment" placeholder="Add a comment..." class="comment-input">
                    <button type="submit" class="comment-submit">Post</button>
                </form>
                {% endif %}
                <div class="comments-list-container"> <!-- Container for the comments list -->
                    <ul class="comments-list">
                        {% for comment in comments %}
                            <li class="comment">User{{ comment.user_id }}: {{ comment.comment }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function toggleHeart(element) {
        element.classList.toggle('liked');
        element.classList.toggle('unliked');
    }
</script>


{%endblock%}