{%extends 'base.html' %}

{%block content%}
<div class="art-container" id="gridContainer">
    <div class="art-item">
        <img src="{{ image_details[3] }}" alt="{{ image_details[1] }}" class="art-image">
        <div class="art-info">
            <div class="art-title">{{ image_details[1] }}</div>
            <p class="art-description">{{ image_details[2] }}</p>
            <p class="art-description">This is the prompt used to generated the art</p>
            <div class="comments-section">
                <form id="commentForm">
                    <input type="text" id="commentInput" placeholder="Add a comment..." class="comment-input">
                    <button type="submit" class="comment-submit">Post</button>
                </form>
                <div class="comments-list-container"> <!-- Container for the comments list -->
                    <ul class="comments-list">
                        <li class="comment">User1: This is amazing!</li>
                        <li class="comment">User2: Love the colors in this piece.</li>
                        <li class="comment">User1: This is amazing!</li>
                        <li class="comment">User2: Love the colors in this piece.</li>
                        <li class="comment">User1: This is amazing!</li>
                        <li class="comment">User2: Love the colors in this piece.</li>
                        <li class="comment">User1: This is amazing!</li>
                        <li class="comment">User2: Love the colors in this piece.</li>
                        <li class="comment">User1: This is amazing!</li>
                        <li class="comment">User2: Love the colors in this piece.</li>
                        <li class="comment">User1: This is amazing!</li>
                        <li class="comment">User2: Love the colors in this piece.</li>
                        <li class="comment">User1: This is amazing!</li>
                        <li class="comment">User2: Love the colors in this piece.</li>
                        <li class="comment">User1: This is amazing!</li>
                        <li class="comment">User2: Love the colors in this piece.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- You can add more .art-item blocks if needed -->
</div>
{%endblock%}