{% extends "base.html" %}

{% block content %}
<div class="art-container">
    <h2>Followers</h2>
    <div class="grid-container" id="followersContainer">
        <!-- The followers user data will be appended here by the script below -->
    </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function(event) {
    let followersContainer = document.getElementById('followersContainer');
    if (followersContainer) {
        let followersData = {{ followers | tojson | safe }};
        console.log('Followers Data:', followersData);
        createUserElements(followersContainer, followersData);
    } else {
        console.error('Followers container not found');
    }
});

function createUserElements(container, userData) {
    userData.forEach(function(user) {
        let userDiv = document.createElement('div');
        let userProfileUrl = `/users/${encodeURIComponent(user[0])}`;
        userDiv.classList.add('grid-item');
        userDiv.innerHTML = `
            <div class="user-info">
                <p>User ID: <a href="${userProfileUrl}">${user[0]}</a></p>
                <p>Email: ${user[1]}</p>
                <p>Followed Date: ${user[2]}</p>
            </div>
        `;


        
        container.appendChild(userDiv);
    });
}
</script>
{% endblock %}
