{% extends "base.html" %}

{% block content %}
<div class="follower-page-container">
    <div class="follower-page">
        <h2>Followers</h2>
            <div class="grid-container-follower" id="followersContainer">
                {% for follower in following %}
                    <div class="user-block">
                        <div class="user-top">
                            <a href="/users/{{follower[1]}}", class = "profile_link">
                                <img src="{{ follower[3] }}" alt="User Profile" class="profile-pic">
                                <p class="user-name">{{ follower[0] }}</p>
                            </a>
                            
                        </div>
                        <div class="user-description">
                            <p>{{ follower[5] }}</p>
                        </div>
                        <a href="/art/{{ follower[6] }}" class="image-link">
                            <div class="grid-item">
                                <div class="art-image-in-grid">
                                <img src="{{ follower[8] }}" alt="{{ follower[7] }}">
                                </div>
                                <div class="image-name">
                                <span class="image-title">{{ follower[7] }}</span>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
        <!-- The followers user data will be appended here by the script below -->
            </div>
    </div>
</div>

{% endblock %}
