{% extends 'base.html' %}

{% block content %}
<script type="text/javascript">
  // Initialize the trendingart variable with data passed from Flask
  var trendingart = {{ artwork|tojson|safe }};
</script>

<div class="scrollable-row">
  <div class="grid-container" id="gridContainer"></div>
</div>

<script>
  // Function to create a grid item
  function createGridItem(artwork) {
    const link = document.createElement('a');
    link.href = `/art/${artwork[0]}`; // Construct the URL with the unique id
    link.className = 'image-link';

    // Create the outer div
    const gridItem = document.createElement('div');
    gridItem.className = 'grid-item';

    // Create the img element for the art image
    const image = document.createElement('img');
    image.src = artwork[4]; // Set the image source
    image.alt = artwork[2]; // Use the artwork name as the alt text for accessibility
    image.className = 'art-image-in-grid';

    // Create the inner div for the image name
    const imageName = document.createElement('div');
    imageName.className = 'image-name';
    imageName.textContent = artwork[2];

    // Append the image and image name div to the grid item div
    gridItem.appendChild(image);
    gridItem.appendChild(imageName);
    
    // Append the grid item to the link
    link.appendChild(gridItem);

    // Return the complete grid item
    return link;
  }

  // Get the container element
  const container = document.getElementById('gridContainer');

  // Loop through the trendingart array and create grid items
  trendingart.forEach(artwork => {
    const gridItem = createGridItem(artwork);
    container.appendChild(gridItem); // Add the grid item to the container
  });
</script>
{% endblock %}

<!-- <html>
  <head>
    <meta charset="utf-8" />
    <title>Auth0 Example</title>
  </head>
  <body>
    {% if session %}
    <h1>Welcome {{session.userinfo.name}}!</h1>
    <p><a href="/logout" id="qsLogoutBtn">Logout</a></p>
    <div><pre>{{pretty}}</pre></div>
    {% else %}
    <h1 id="profileDropDown">Welcome Guest</h1>
    <p><a href="/login" id="qsLoginBtn">Login</a></p>
    {% endif %}
  </body>
</html> -->
