{%extends 'base.html' %}

{%block content%}
<div class="grid-container" id="gridContainer"></div>

<script>

  const imageData = [
    { id: '1', name: 'Artwork 1'},
    { id: '2', name: 'Artwork 2'},
    // Add more images as needed
  ];
  // Function to create a grid item
  function createGridItem(name, id, imagePath) {
    const link = document.createElement('a');
    link.href = `/art/${id}`; // Construct the URL with the unique id
    link.className = 'image-link';
    // Create the outer div
    const gridItem = document.createElement('div');
    gridItem.className = 'grid-item';
    // Create the img element for the art image
    const image = document.createElement('img');
    image.src = "{{ url_for('static', filename='images/sample.png') }}"; // Set the image source to the provided imagePath
    image.alt = name; // Use the art name as the alt text for accessibility
    image.className = 'art-image-in-grid'; // Optional: add a class for styling the image
    // Create the inner div for the image name
    const imageName = document.createElement('div');
    imageName.className = 'image-name';
    imageName.textContent = name;
    // Append the image and image name div to the grid item div
    gridItem.appendChild(image);
    gridItem.appendChild(imageName);
    link.appendChild(gridItem);
    // Return the complete grid item
    return link;
}

  // Get the container element
  const container = document.getElementById('gridContainer');

  // Loop through the image data array and create grid items
  imageData.forEach(data => {
    const gridItem = createGridItem(data.name, data.id);
    container.appendChild(gridItem); // Add the grid item to the container
  });
</script>
{%endblock%}

<!-- <html>
  <head>
    <meta charset="utf-8" />
    <title>Auth0 Example</title>
  </head>
  <body>
    {% if session %}
    <h1>Welcome {{session.userinfo.name}}!</h1>
    <p><a href="/logout" id="qsLogoutBtn">Logout</a></p>
    <div><pre>{{pretty}}</pre></div>
    {% else %}
    <h1 id="profileDropDown">Welcome Guest</h1>
    <p><a href="/login" id="qsLoginBtn">Login</a></p>
    {% endif %}
  </body>
</html> -->
