{% extends "base.html" %}
{% block head %}
    {{ super() }} <!-- 这会保留 base.html 中 head 部分的内容 -->
    <link rel="stylesheet" href="/static/subs.css"> <!-- 添加额外的 CSS -->
{% endblock %}
{% block content %}
<div class="art-container">
    <h2>Following</h2>
    <div class="grid-container" id="followingContainer">
        <!-- The following user data will be appended here by the script below -->
    </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function(event) {
    let followingContainer = document.getElementById('followingContainer');
    if (followingContainer) {
        let followingData = {{ following | tojson | safe }};
        console.log('Following Data:', followingData);
        createUserElements(followingContainer, followingData);
    } else {
        console.error('Following container not found');
    }
});

function createUserElements(container, userData) {
    userData.forEach(function(user) {
        let userDiv = document.createElement('div');
        userDiv.classList.add('grid-item');
        let userProfileUrl = `/users/${encodeURIComponent(user[0])}`;
        userDiv.innerHTML = `
            <div class="user-info">
                <p>User ID: <a href="${userProfileUrl}">${user[0]}</a></p>
                <p>Email: ${user[1]}</p>
                <p>Followed Date: ${user[2]}</p>
            </div>
        `;
        
        container.appendChild(userDiv);
    });
}
</script>
{% endblock %}
