{% extends 'base.html' %}

{% block content %}
<div class="profile-container">
    <div class="user-info">
      <!-- Check if the session has a user and a profile picture -->
      {% if session.user and session.user.userinfo.picture %}
      <!-- Profile picture -->
      <img class="profile-picture" src={{ user.profile_pic_url}} alt="{{ session.get('user').get('name', 'Default User Name') }}'s Profile Picture">
      {% endif %}
      <div class="user-details">
        <!-- Use session data for user details -->
        <h1>{{ user.name if user.name else 'Default Name'}}</h1>
        <p>{{ user.email if user.email else 'defaultemail@example.com' }}</p>
        <p id="userDescription">{{ user.description if user.description else 'Default description here...' }}</p>
        {% if session['user'] %}
            {% if session['user']['userinfo']['user_id'] == user.user_id %}
                <button class="edit-button" onclick="editDescription()">Edit</button>
            {% else %}
              {% if is_following %}
                <button id = 'followButton' data-is-following="{{ is_following }}" class="edit-button" onclick="followUser('{{ follower_id }}', '{{ user.user_id }}')">Unfollow</button>
              {% else %}
                <button id = 'followButton' data-is-following="{{ is_following }}" class="edit-button" onclick="followUser('{{ follower_id }}', '{{ user.user_id }}')">Follow</button>
              {% endif %}
            {% endif %}
        {% endif %}
      </div>
  </div>

      <script>
        function deleteArtwork(artworkId) {
          if (!confirm('Are you sure you want to delete this artwork?')) {
            return; // Stop if the user cancels the action.
          }
        
          // Example request, adjust according to your server setup
          fetch(`/delete-artwork/${artworkId}`, { method: 'DELETE' })
            .then(response => {
              if (response.ok) {
                window.location.reload(); // Reload the page to reflect the deletion
              } else {
                alert('Failed to delete artwork.');
              }
            })
            .catch(error => console.error('Error:', error));
        }
        function editDescription() {
          var currentDescription = document.getElementById('userDescription').innerText;
          var newDescription = prompt("Edit your description:", currentDescription);
          if (newDescription !== null && newDescription !== currentDescription) {
            // Submit the new description to the server without AJAX
            var form = document.createElement('form');
            form.method = 'POST';
            form.action = "{{ url_for('update_description') }}";
            
            var hiddenField = document.createElement('input');
            hiddenField.type = 'hidden';
            hiddenField.name = 'description';
            hiddenField.value = newDescription;
            
            form.appendChild(hiddenField);
            
            document.body.appendChild(form);
            form.submit();
          }
        }
        function followUser(followerId, followingId, is_following) {
          const button = event.currentTarget;

          // Get the current following state from the button's data attribute
          var is_following = button.getAttribute('data-is-following') === 'true';
          if (is_following){
            var url = '/api/unfollow/';
          } else {
            var url = '/api/follow/';
          }
          console.log(url);
          console.log(is_following);
          const data = {
              follower_id: followerId,
              following_id: followingId
          };
          fetch(url, {
              method: 'POST',
              headers: {
                  'Content-Type': 'application/json',
                  // Include other necessary headers, such as authorization tokens
              },
              body: JSON.stringify(data),
          })
          .then(response => response.json()) // Convert the response to JSON
          .then(data => {
              if (data.success) {
                  // Check the 'following' status and update the button text accordingly
                  const followButton = document.getElementById('followButton'); // Make sure you have this ID on your button
                  if (data.following) {
                      followButton.textContent = 'Unfollow';
                      const newFollowState = !is_following;
                      followButton.setAttribute('data-is-following', newFollowState.toString());
                  } else {
                      followButton.textContent = 'Follow';
                      const newFollowState = !is_following;
                      followButton.setAttribute('data-is-following', newFollowState.toString());
                  }
              } else {
                  // Handle the case where the API indicates failure
                  console.error(data.message);
              }
          })
        }
        </script>
    
    <div class="stats">
      <!-- var rawData = {{ user | tojson | safe }};
      <script>console.log(rawData);</script> -->
      <div>Subscriptions: {{ user.subscriptions }}</div>
      <div class="clickable-text" onclick="location.href='/user/fans';">
        Fans: <span class="fans-number">{{ user.fans }}</span>
      </div>
      <div>Likes: {{user.likes  }}</div>
    </div>

    <div class="user-works">
      <h2>My Works</h2>
      <div class="grid-container">
      {% for artwork in user.artworks %}
        <a href="/art/{{ artwork[0] }}" class="image-link">
          <div class="grid-item">
            <div class="art-image-in-grid">
              <img src="{{ artwork[4] }}" alt="{{ artwork[1] }}">
              <!-- Delete button, initially hidden -->
              {% if session['user']['userinfo']['user_id'] == user.user_id %}
              <button class="delete-btn" onclick="deleteArtwork('{{ artwork[0] }}')">X</button>
              {%endif%}
            </div>
            <div class="image-name">
              <span class="image-title">{{ artwork[2] }}</span>
            </div>
          </div>
        </a>
        {% endfor %}
      </div>
    </div>
</div>
    {% endblock %} 