{% extends 'base.html' %}

{% block content %}
<div class="profile-container">
    <div class="user-info">
      <!-- Check if the session has a user and a profile picture -->
      {% if session.user and session.user.userinfo.picture %}
      <!-- Profile picture -->
      <img class="profile-picture" src={{ user.profile_pic_url}} alt="{{ session.get('user').get('name', 'Default User Name') }}'s Profile Picture">
      {% endif %}
      <div class="user-details">
        <!-- Use session data for user details -->
        <h1>{{ user.name if user.name else 'Default Name'}}</h1>
        <p>{{ user.email if user.email else 'defaultemail@example.com' }}</p>
        <p id="userDescription">{{ user.description if user.description else 'Default description here...' }}</p>
        {% if session['user'] %}
            {% if session['user']['userinfo']['user_id'] == user.user_id %}
                <button class="edit-button" onclick="editDescription()">Edit</button>
            {% else %}
                <button class="edit-button" onclick="followUser()">Follow</button>
            {% endif %}
        {% else %}
            <button class="edit-button" onclick="followUser()">Follow</button>
        {% endif %}
      </div>
  </div>
  <!---- <div class="user-details">
        <p id="userDescription">{{ user.description if user.description else 'Default description here...' }}</p>
        <button class="edit-button" onclick="editDescription()">Edit</button>
      </div>-->

      <script>
        function editDescription() {
          var currentDescription = document.getElementById('userDescription').innerText;
          var newDescription = prompt("Edit your description:", currentDescription);
          if (newDescription !== null && newDescription !== currentDescription) {
            // Submit the new description to the server without AJAX
            var form = document.createElement('form');
            form.method = 'POST';
            form.action = "{{ url_for('update_description') }}";
            
            var hiddenField = document.createElement('input');
            hiddenField.type = 'hidden';
            hiddenField.name = 'description';
            hiddenField.value = newDescription;
            
            form.appendChild(hiddenField);
            
            document.body.appendChild(form);
            form.submit();
          }
        }
        function followUser() {
          
        }
        </script>
    
    <div class="stats">
      <!-- var rawData = {{ user | tojson | safe }};
      <script>console.log(rawData);</script> -->
      <div>Subscriptions: {{ user.subscriptions }}</div>
      <div class="clickable-text" onclick="location.href='/user/following';">
        Fans: <span class="fans-number">{{ user.fans }}</span>
      </div>
      <div>Likes: {{user.likes  }}</div>
    </div>

    <!-- <div class="user-works">
        <h2>My Works</h2>
        <div class="works-list">
            {% for artwork in user.artworks %}
            <div class="work-item">
              <script>console.log({{ user.artworks[0][4] }});</script>
              <img src="{{ artwork[4] }}" alt="{{ artwork.title }}">
              <div class="image-name">{{ artwork.title }}</div>              
            </div>
            {% endfor %}
        </div>
    </div>    -->

    <div class="user-works">
      <h2>My Works</h2>
      <div class="grid-container">
        {% for artwork in user.artworks %}
        <a href="/art/{{ artwork[0] }}" class="image-link">
          <div class="grid-item">
            <div class="art-image-in-grid">
              <img src="{{ artwork[4] }}" alt="{{ artwork.title }}">
            </div>
            <div class="image-name">
              <span class="image-title">{{ artwork[2] }}</span>
            </div>
          </div>
        </a>
        {% endfor %}
      </div>
    </div>
</div>
    {% endblock %} 